.float { float: left; margin: 10px 10px 0 0; }
        .clear { clear: both; }
        .hr { border-top: 1px solid #2CBDF9; }
        .options-container { width: 220px; padding-top: 70px; }
        .main-container { float: left; width: 750px; height: 850px; }
        .editor-container { float: left; margin: 0 0 20px 30px; }
        .editor-container .labels { display: block; font-size: 13px; padding-bottom: 5px; }
        .slider-container { float: left; width: 660px; padding: 10px 20px 10px 30px; margin: 10px 0; }
        .slider-contaier-2 { width: 600px; padding-left: 50px; }
        .slider-title, .eidtors-title { font-size: 13px; padding: 3px 0 20px 2px; }
        .window-container-1, .window-container-2 { position: absolute; width: 710px; }
        .window-container-2 { display: none; }
        .year-profit { float: right; margin-left: 5px; font-weight: bold; }
        .eidtors-title { padding: 0 0 3px 2px; }
        .number-container { float: right; font-size: 30px; width: 200px; text-align: right; }
        .btn-refresh { float: right; width: 48px; height: 48px; padding: 0; margin: 0;
            border-image-width: 0; cursor: pointer; border-radius: 5px; border: 1px solid #535353;
            background-image: url(http://igniteuisamples.dev.infragistics.local/13-2/images/samples/data-chart/music-controls-sprite.png); 
            background-position: -434px -2px; background-repeat: no-repeat; }
            .btn-refresh:hover { background-position: -434px -50px; }
        .windows-button { float: right; width: 30px; height: 670px; margin-top: 60px; }
            .windows-button:hover { 
                width: 40px;
            }