.float { float: left; margin: 10px 10px 0 0; }
        .clear { clear: both; }
        .margin-b { margin-bottom: 20px; }
        .btn-container { margin-top: 30px; position: relative; width: 600px; height: 50px; }
        .btn-container  button { float: left; width: 48px; height: 48px; margin-right: 15px; border: none; cursor: pointer; padding: 0;
                background-image: url(http://igniteuisamples.dev.infragistics.local/13-2/images/samples/data-chart/music-controls-sprite.png); background-repeat: no-repeat; 
                border-radius: 5px; border: 1px solid #535353; }
            .btn-container .btn-add-start { background-position: -337px 0px; }
                .btn-container .btn-add-start:hover { background-position: -337px -50px; }
            .btn-container .btn-rmv-start { background-position: -384px 0px; margin-right: 85px; }
                .btn-container .btn-rmv-start:hover { background-position: -384px -50px; }
            .btn-container .btn-add-curr { background-position: -337px 0px; }
                .btn-container .btn-add-curr:hover { background-position: -337px -50px; }
            .btn-container .btn-rmv-curr { background-position: -384px 0px; margin-right: 85px; }
                .btn-container .btn-rmv-curr:hover { background-position: -384px -50px; }
            .btn-container .btn-prev { background-position: -192px 0px; margin-left: 165px; }
                .btn-container .btn-prev:hover { background-position: -192px -50px; }  
            .btn-container .btn-play { background-position: 0px 0px;  }
                .btn-container .btn-play:hover { background-position: 0px -50px;  }
            .btn-container .btn-next { background-position: -240px 0px; margin-right: 53px; }
                .btn-container .btn-next:hover { background-position: -240px -50px; }
            .btn-container .btn-rmv-end { background-position: -384px 0px; }
                .btn-container .btn-rmv-end:hover { background-position: -384px -50px; }
            .btn-container .btn-add-end { background-position: -336px 0px; }
                .btn-container .btn-add-end:hover { background-position: -336px -50px; }
            .btn-container .btn-pause { background-position: -96px 0px; opacity: 0; position: absolute; margin-left: 350px; }
                .btn-container .btn-pause:hover { background-position: -96px -50px; }
        #lineChart, .combo-container { 
            float: left;
            margin-right: 20px;
        }
        .combo-container { width: 200px; }
        #barColumnChart { 
            margin-top: 20px;
        }